<mat-toolbar color="primary" class="nav-toolbar">
  <div class="brand-container" routerLink="/main">
    <span class="brand-text">InstaZoo</span>
  </div>

  <div class="spacer"></div>

  <div *ngIf="isLoggedIn && isDataLoaded" class="user-info" [@fadeInOut]>
    <span class="user-name">{{user.firstname}} {{user.lastname}}</span>
  </div>

  <div class="action-buttons">
    <button *ngIf="!isLoggedIn" matTooltip="Login" routerLink="/login" mat-icon-button class="example-icon favorite-icon" [@fadeInOut]>
      <mat-icon>login</mat-icon>
    </button>

    <button *ngIf="isLoggedIn" [matMenuTriggerFor]="menu" matTooltip="Profile" mat-icon-button class="profile-button" [@fadeInOut]>
      <mat-icon color="accent">account_box</mat-icon>
    </button>
  </div>

  <mat-menu id="menu-item" #menu="matMenu" class="profile-menu">
    <button mat-menu-item routerLink="/profile">Profile</button>
    <button (click)="logout()" mat-menu-item>
      Logout
    </button>
  </mat-menu>
</mat-toolbar>
